.bkgrHome {
    background-image: url('./../img/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.bkgrHomePro {
    background-image: url('./../img/home_pro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.homeCont {
    height: calc(100vh - 56px);
}

.optionsCol {
    min-height: 30rem;
}

.form-control:focus {
    box-shadow: none;
}